<!DOCTYPE html>
	<html>
		<head>
			 <meta charset="utf-8">
                         <meta http-equiv="X-UA-Compatible" content="chrome=1">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
		
    <div class=“container”>
      <nav>
      	<ul>
                             <li><a href="{{ BASE_PATH }}/research/research.html">MATH122L</a></li>
		        	<li><a href="{{ BASE_PATH }}/teaching/teaching.html">SYLLABUS</a></li>
	        		<li><a href="{{ BASE_PATH }}/AboutMe/aboutme.html">PROBLEMS</a></li>

      		    		<li><a href="/"> RESOURCES </a></li>
	        		    		        </ul>
      </nav>
      <header>
      <h2> Introductory Calculus II </h2>
      <p>Fall 2016  <br>
      MW 3:20pm - 4:10pm  <br> 
      Classroom: West Duke 105 <br>
      <br>
      Instructor: Shan Shan <br>
      Email: sshan@math.duke.edu <br> 
      Office: Gross Hall 330 <br>
      </p>
      </header>

      <section>	
        {{ content }}
	</section>

	<footer>
        </footer>
	</div><!-- /.container -->
	
	        </body>
	</html>


