<!DOCTYPE html>
	<html>
		<head>
			 <meta charset="utf-8">
                         <meta http-equiv="X-UA-Compatible" content="chrome=1">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/calculus2/css/main.css">
			<link rel="canonical" href="http://sshanshans.github.io/calculus2/">
		</head>		

      <body>

<div class =“container”>

<header>
<h1>Introductory Calculus II with Applications </h1>
</header>

<nav>
      	<ul>
      		    		<li><a href="/"> MATH 122L </a></li>
	        		<li><a href="/calculus2/schedule/schedule.html">SCHEDULE</a></li>
		        	<li><a href="{{ BASE_PATH }}/teaching/teaching.html">ASSIGNMENT</a></li>
	        		<li><a href="{{ BASE_PATH }}/AboutMe/aboutme.html">RESOURCE</a></li>
	    		        </ul>
      </nav>

      <section>
      {{content}}
      </section>

<lsection>
<h3> Classtime and Location </h3>
Lectures: <br>
Mondays, Wednesdays: 3:20pm -4:10pm <br>
Tuesdays: 3:05pm - 4:20pm <br>
West Duke 105<br>
<br>
Labs: <br>
Thursdays: 3:05pm - 4:20pm 
West Duke 105
</lsection>

<rsection>
<h3> Course Instructor </h3>
Shan Shan <br>
<br>
<h3> Office Hours and Location </h3>
Tuesdays, 4:30pm - 5:20pm <br>
Wednesdays, 4:10pm - 5:10pm;  <br>
Carr 132
</rsection>

</div>
      </body>
